export(datefilein)
export(ELEFAN_gui)
export(ESP)
export(fillgrowthdata)
export(ma5)
export(plot_yield_biomass_per_recruit)
export(plotnonseacatchcurve)
export(plotpeak)
export(rectplot)
export(yield_biomass_per_recruit)
import(animation)
import(compiler)
import(gWidgets)
import(MASS)
import(PBSmodelling)
import(Rcpp)
useDynLib(ELEFAN)
